@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.cipher-text {
  font-family: 'Inconsolata', monospace;
  font-size: 1.3rem !important;
}

.hover-blue-btn {
  background-color: #0d6efd !important;
  /* blue */
  color: white !important;
}

.hover-blue-btn:hover {
  background-color: #0d6efd !important;
  /* stays blue only on hover */
  color: white !important;
}
